.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

button.send-button {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 20px;
    background-color: #ff0000; /* Vodafone red */
    color: white;
    cursor: pointer;
    transform: rotate(-90deg); /* Rotate arrow to point upwards */
    transition: box-shadow 0.3s ease;
}

button.send-button:hover {
    background-color: #cc0000; /* Darker red */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

