.chat-window {
    display: flex;
    flex-direction: column;
    box-shadow: black 0px 0px 5px;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.pt-site-footer__submit{
    display: inline-block;
    position: relative;
    overflow: hidden;
}



.input-container {
    /*display: flex;*/
    /*align-items: center;*/
    max-width: 100%;
    position: relative;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    width: 97%;
    height: 20px;
}

button.send-button {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 20px;
    background-color: #DC143C; /* Vodafone red */
    color: white;
    cursor: pointer;
    transform: rotate(-90deg); /* Rotate arrow to point upwards */
    transition: box-shadow 0.3s ease;
    position: absolute;
    right:-1px;
    top: 3px;
}

button.send-button:hover {
    background-color: #DC143C; /* Darker red */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}


