/* Main chat container */
.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 97vh;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f7f7f7;
}

/* Container for messages */
.messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Individual message styles */
.message {
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    max-width: 70%;
    display: inline-block;
    clear: both; /* Ensure messages don't overlap */
    position: relative; /* Needed for positioning the avatar */
}

/* User message styles */
.user-message {
    background-color: #DC143C;
    color: white;
    align-self: flex-end; /* Aligns user messages to the right */
    text-align: right;
    /* Aligns text to the right */
}

/* Bot message styles */
.bot-message {
    background-color: #e5e5ea;
    color: black;
    align-self: flex-start; /* Aligns bot messages to the left */
    text-align: left; /* Aligns text to the left */
    display: flex;
    align-items: center;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: -45px;
}

/*!* Avatar styles *!*/
/*.avatar {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 50%;*/
/*    background-color: #ccc; !* Default background color if no image *!*/
/*    margin-right: 10px; !* Space between avatar and message *!*/
/*    position: absolute;*/
/*    left: 10px;*/
/*}*/

/* Ensure message container does not overlap avatar */
.message-container {
    margin-left: 50px; /* Space for the avatar */
}

.message-user-container{
    margin-left: 5px;
}
