.upload-button {
    display: flex;
    align-items: center;
    margin-left: 5px; /* To align it nicely next to the arrow button */
}

.upload-button input[type="file"] {
    display: none;
}

.upload-button button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #DC143C; /* Vodafone red */
    color: white;
    cursor: pointer;
    height: 100%; /* Ensure it matches the height of the arrow button */
}

.upload-button button:hover {
    background-color: #DC143C; /* Darker red */
}
