.upload-button {
    display: flex;
    align-items: center;
    margin-left: 3px; /* To align it nicely next to the arrow button */
    margin-right: 10px;
    border: none;
    border-radius: 1000px;
    background-color: #DC143C; /* Vodafone red */
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    position: absolute;
    right: 536px;
    top: 3.8px;
}

.upload-button input[type="file"] {
    display: none;
}

.upload-button button {
    padding: 5px; /* Reduced padding to fit the image */
    border: none;
    border-radius: 1000px;
    background-color: #DC143C; /* Vodafone red */
    color: white;
    cursor: pointer;
    display: flex; /* Use flex to center the image */
    align-items: center;
    justify-content: center;
}

.upload-button button:hover {
    background-color: #DC143C; /* Darker red */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.button-icon {
    width: 20px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}
