.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 97vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #f7f7f7;
}

.messages {
  flex: 1;
  overflow-y: scroll;
  margin-bottom: 10px;
  scrollbar-width: thin;
}

.input-area {
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: 40px;
}

input[type="text"] {
  flex: 10;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}


button:hover {
  background-color: #DC143C;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}